@if $moovui-init {
[data-section="accordion"] > :not(.active) [data-section-content] {
  display: none;
}
}

@mixin qna {
  @include radius;
  background: #dadde2;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 $sp2;
  [data-section-title] {
    cursor: pointer;
    font-weight: bold;
    padding: $sp $sp $sp 25px;
    &:before {
      @include entypo-icon;
      @extend .icon-triangle-right:before;
      margin: 0 0 0 -13px;
      position: absolute;
      width: 13px;
    }
    code {
      font-weight: 400;
    }
  }
  .active [data-section-title]:before {
    @extend .icon-triangle-down:before;
    margin: 0 0 0 -14px;
    width: 14px;
  }
  [data-section-content] {
    @include clearfix;
    padding: 0 $sp 0 25px;
    &:after {
      margin: $sp 0 0;
    }
  }
  code {
    font-size: 12px;
  }
}

.#{$moovui-prefix}qna {
  @include qna;
}
