[data-section="accordion"] > :not(.active) [data-section-content] {
  display: none;
}

@mixin qna {
  @include radius;
  background: #dadde2;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 $sp2;
  [data-section-title] {
    cursor: pointer;
    font-weight: bold;
    padding: $sp;
    &:before {
      @include entypo-icon;
      @extend .icon-triangle-right:before;
      width: 13px;
      padding: 0 0 0 2px;
    }
  }
  .active [data-section-title]:before {
    @extend .icon-triangle-down:before;
    width: 14px;
    padding: 0 0 0 1px;
  }
  [data-section-content] {
    @include clearfix;
    padding: 0 $sp 0 25px;
    &:after {
      margin: $sp 0 0;
    }
  }
}

.#{$prefix}qna {
  @include qna;
}
