@mixin btnbar {
  @include clearfix;
  a {
    @include btn;
    @include btn-big;
    @include border-radius(0);
    border-right-width: 0;
    float: left;
    &:first-of-type {
      @include border-radius($radius 0 0 $radius);
    }
    &:last-of-type {
      @include border-radius(0 $radius $radius 0);
      border-right-width: 1px;
    }
    &[data-ur-state="enabled"] {
      @include box-shadow(rgba(#000, 0.2) 0 0 4px inset);
      background: $darkgray;
      border-color: shade($gray, 30%) shade($gray, 30%) shade($gray, 20%);
      + a {
        border-left-color: shade($gray, 30%);
      }
    }
  }
}

.btnbar {
  @include btnbar;
}
