@mixin btnbar {
  @include clearfix;
  .btn {
    @include border-radius(0);
    border-right-width: 0;
    float: left;
    &:first-of-type {
      @include border-radius($radius 0 0 $radius);
    }
    &:last-of-type {
      @include border-radius(0 $radius $radius 0);
      border-right-width: 1px;
    }
  }
  .active .btn {
    @include box-shadow(rgba(#000, 0.2) 0 0 4px inset);
    background: $darkgray;
    border-color: shade($gray, 30%) shade($gray, 30%) shade($gray, 20%);
  }
  .active + * .btn {
    border-left-color: shade($gray, 30%);
  }
}

.btnbar {
  @include btnbar;
}

@mixin btngroup {
  @include clearfix;
  .btn {
    float: left;
    & + .btn {
      margin-left: $sp;
    }
  }
}

.btngroup {
  @include btngroup;
}
