@mixin btnbar {
  @include clearfix;
  font-size: 0;
  li {
    display: inline;
  }
  input[type="submit"], input[type="button"], button, .#{$moovui-prefix}btn {
    @include border-radius(0);
    border-right-width: 0;
    &:first-of-type {
      @include border-radius($radius 0 0 $radius);
    }
    &:last-of-type {
      @include border-radius(0 $radius $radius 0);
      border-right-width: 1px;
    }
  }
  .active {
    input[type="submit"], input[type="button"], button, .#{$moovui-prefix}btn {
      @include box-shadow(rgba(#000, 0.2) 0 0 4px inset);
      background: $darkgray;
      border-color: shade($gray, 30%) shade($gray, 30%) shade($gray, 20%);
    }
  }
  .active + * {
    input[type="submit"], input[type="button"], button, .#{$moovui-prefix}btn {
      border-left-color: shade($gray, 30%);
    }
  }
}

.#{$moovui-prefix}btnbar {
  @include btnbar;
}

@mixin btngroup {
  @include clearfix;
  font-size: 0; // instead of floating so that we can still center
  li {
    display: inline;
  }
  li + li {
    input[type="submit"], input[type="button"], button, .#{$moovui-prefix}btn {
      margin-left: $sp;
    }
  }
  input[type="submit"], input[type="button"], button, .#{$moovui-prefix}btn {
    & + input[type="submit"], & + input[type="button"], & + button, & + .#{$moovui-prefix}btn {
      margin-left: $sp;
    }
  }
}

.#{$moovui-prefix}btngroup {
  @include btngroup;
}
