@mixin btn {
  @include appearance(none);
  @include box-shadow(rgba(#000, 0.1) 0 1px, rgba(#fff, 0.5) 0 0 1px inset);
  @include box-sizing(border-box);
  @include radius;
  @include background(linear-gradient(tint($gray, 25%), $gray));
  border: 1px solid shade($gray, 5%);
  color: #fff;
  display: inline-block;
  font: 11px/#{$line-height} $font;
  letter-spacing: 1px;
  margin: 0;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  height: 26px;
  &:hover {
    @include box-shadow(rgba(#000, 0.1) 0 1px);
    background: tint($darkgray, 15%);
    border-color: transparent;
  }
  &:active {
    @include box-shadow(rgba(#000, 0.2) 0 0 4px inset);
    background: $darkgray;
    border-color: shade($gray, 30%) shade($gray, 30%) shade($gray, 20%);
  }
  &[class*="entypo-"]:before {
    vertical-align: top;
  }
  &[class*="entypo-"]:not(:empty):before {
    margin: 0 5px 0 0;
  }
}

@mixin btn-small {
  @include box-shadow(none);
  border: 0;
  height: 24px;
}

@mixin btn-big {
  padding: 3px 10px;
  min-width: 100px;
  height: 32px;
 &[class*="entypo-"]:before {
    font-size: 18px;
  }
  &[class*="entypo-"]:not(:empty):before {
    margin: 0 7px 0 0;
  }
}

.btn {
  @include btn;
}

.btn.big {
  @include btn-big;
}

.btn.small {
  @include btn-small;
}

input[type="submit"], input[type="button"], button {
  @include btn;
  @include btn-big;
}
