a {
  color: $link-color;
  text-decoration: none;
}

a.copy, .copy a {
  font-weight: bold;
}

h1, h2 {
  font-weight: normal;
  margin: 0 0 $sp2;
}

h1 {
  font-size: $h1-size;
  font-weight: 300;
  line-height: 1.5 * $line-height;
}

h2 {
  color: #7C8899;
  font-size: $h2-size;
}

h3, h4, h5, h6 {
  margin: 0 0 $sp;
}

h3 {
  color: $darkblue;
  font-size: $h3-size;
}

h4 {
  color: rgba($slategray, 0.9);
  font-size: $h4-size;
}

h5, h6 {
  font-size: inherit;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: $sp2 0;
}

p {
  margin: 0 0 $line-height;
}

// reset
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.copy, .copy ul {
  list-style: disc;
  margin: 0 0 $sp2 2em;
}

ol.copy, .copy ol {
  list-style: decimal;
  margin: 0 0 $sp2 2em;
}
