.#{$prefix}row {
  @include clearfix;
  &.#{$prefix}gutters {
    margin-left: -$sp3;
    > * {
      padding-left: $sp3;
    }
  }
}

.#{$prefix}col-1,
.#{$prefix}col-2,
.#{$prefix}col-3,
.#{$prefix}col-4,
.#{$prefix}col-5,
.#{$prefix}col-6,
.#{$prefix}col-7,
.#{$prefix}col-8,
.#{$prefix}col-9,
.#{$prefix}col-10,
.#{$prefix}col-11,
.#{$prefix}col-12 {
  float: left;
}

.#{$prefix}col-1 {
  width: 8.333%;
}

.#{$prefix}col-2 {
  width: 16.666%;
}

.#{$prefix}col-3 {
  width: 25%;
}

.#{$prefix}col-4 {
  width: 33.333%;
}

.#{$prefix}col-5 {
  width: 41.666%;
}

.#{$prefix}col-6 {
  width: 50%;
}

.#{$prefix}col-7 {
  width: 58.333%;
}

.#{$prefix}col-8 {
  width: 66.666%;
}

.#{$prefix}col-9 {
  width: 75%;
}

.#{$prefix}col-10 {
  width: 83.333%;
}

.#{$prefix}col-11 {
  width: 91.666%;
}

.#{$prefix}col-12 {
  width: 100%;
}
