$top-level-bg: #BDC4CB;
$top-level-hbg: #7C8899;
$mid-level-bg: #EFF0F0;
$bottom-level-bg: #FFF;

#content-sidebar #drawer_results {
  width: 23%;
  float: left;
  ul, li {
    list-style: none;
  }
  h1 {
    font-size: 12px;
    margin: 1px 0;
    padding: 5px 10px;
    color: #333;
    .arrow, .subarrow {
      &:before {
        @include entypo-icon;
        @extend .icon-plus:before;
        float: right;
        font-size: 12px;
        margin-top: -24px;
        opacity: 0.6;
      }
    }
    &[data-ur-state="enabled"] {
      .arrow, .subarrow {
        &:before {
          content: "";
        }
      }
    }
  }
  a {
    color: #333;
    //display: block;
    &.ext-link:after {
      @include entypo-icon;
      @extend .icon-export:before;
      float: right;
      opacity: 0.4;
    }
  }
  // First level
  > li > h1 {
    background: $top-level-bg;
    &[data-ur-state='enabled'] {
      background: $top-level-hbg;
      color: #fff;
    }
  }
  > li:first-child > h1 {
    border-radius: 5px 5px 0 0;
  }
  > li:last-child > h1 {
    border-radius: 0 0 5px 5px;
    &[data-ur-state="enabled"] {
      border-radius: 0;
    }
  }
  // Second level
  > li > nav > li {
    > h1 {
      background: $mid-level-bg;
      &.nav_subtoggler:before, a:before {
        content: "\25cf ";
        font-size: 16px;
        opacity: 0.2;
        margin-right: 7px;
      }
      > a {
        display: block;
      }
    }
    // Third level deep
    > nav > li > h1 {
      background: $bottom-level-bg;
      > a {
        display: block;
      }
      > a:before {
        content: "\25cf \25cf";
        font-size: 16px;
        opacity: 0.1;
        margin-right: 7px;
      }
    }
  }
  // When open 
  .highlight {
    //background: $top-level-hbg;
    a:before {
      // color: $white;
      opacity:0.8;
    }
  }
}