// reset
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.#{$prefix}copy, .#{$prefix}copy ul {
  color: #666;
  font-weight: 300;
  list-style: disc;
  margin: 0 0 $sp2 3em;
}

ol.#{$prefix}copy, .#{$prefix}copy ol {
  color: #666;
  font-weight: 300;
  list-style: decimal;
  margin: 0 0 $sp2 3em;
}

@mixin section-list {
  li {
    margin: 0 0 $sp;
  }
}

@mixin link-list {
  list-style: none !important;
  margin: 0 0 $sp2 2em;
  padding: 0 0 0 1em; // padding won't get overridden
  li:before {
    @include entypo-icon;
    @extend .icon-right:before;
    color: #d3d5d5;
    margin: 0 9px 0 -20px;
  }
  a {
    font-weight: normal;
  }
}

.#{$prefix}section-list {
  @include section-list;
}

.#{$prefix}link-list {
  @include link-list;
}
