@mixin pane {
  @include border-radius(7px);
  @include box-shadow(#e3e7e9 0 0 0 1px inset, #f1f4f5 0 0 0 2px inset);
  @include clearfix;
  background: #eaedef;
  margin: 0 0 $sp;
  padding: $sp2;
}

@mixin subpane() {
  @include clearfix;
  @include radius;
  background: $palegray;
  border: 1px solid #ccc;
  margin: 0 0 $sp2;
  padding: $sp2 - 1px;
}

.#{$moovui-prefix}pane {
  @include pane;
}

.#{$moovui-prefix}subpane {
  @include subpane;
}
