@mixin pane {
  @include border-radius(5px);
  @include box-shadow(rgba(#000, 0.1) 0 1px 2px 1px);
  @include clearfix;
  background: #fafbfb;
  margin: 0 0 $sp2;
  padding: $sp2;
}

@mixin subpane {
  @include clearfix;
  @include radius;
  background: #fff;
  border: 1px solid #ccc;
  margin: 0 0 $sp2;
  padding: $sp2 - 1px;
}

.#{$moovui-prefix}pane {
  @include pane;
}

.#{$moovui-prefix}subpane {
  @include subpane;
}
