@mixin sidebar {
  float: left;
  margin: 0 $sp2 0 0;
  width: 20%;
  & ~ section {
    margin: 0 0 0 20%;
    padding-left: $sp2;
  }
  .active a {
    color: inherit;
  }
  a {
    display: block;
    padding: 5px $sp;
    &[data-toggle="tab"] {
      padding-right: 30px;
      &:before {
        @extend .icon-pencil:before;
        @include entypo-icon;
        color: $lightgray;
        float: right;
        margin-right: -20px;
      }
    }
    &:hover {
      @include radius;
      background: $lightgray;
      color: #fff;
      &:before {
        color: #fff;
      }
    }
  }
  hr {
    margin: $sp 0;
  }
}

.sidebar {
  @include sidebar;
}

@mixin sidebar-doc {
  @include radius;
  font-size: 12px;
  overflow: hidden;
  width: 20%;
  a {
    display: block;
    margin: 0 0 1px;
    padding: 5px $sp;
  }
  .collapsed:after {
    @include entypo-icon;
    @extend .icon-plus:before;
    float: right;
    font-size: 12px;
    opacity: 0.5;
    font-weight: normal;
  }
  
  > li {
    margin: 0 0 1px;
    > [data-toggle="collapse"] {
      background: #7c8899;
      color: #fff;
      font-weight: bold;
      &.collapsed {
        background: #bdc4cb;
        color: #7c8899;
      }
    }
    > ul [data-toggle="collapse"] {
      background: #eff0f0;
      font-weight: bold;
      color: #7c8899;
      &:before {
        content: "\2022";
        font-size: 16px;
        margin: 0 $sp 0 0;
        opacity: 0.1;
      }
    }
  }
  a:not([data-toggle="collapse"]) {
    background: #fff;
    &:before {
      content: "\2022\2022";
      font-size: 16px;
      margin: 0 $sp 0 0;
      opacity: 0.1;
    }
  }
}

.sidebar-doc {
  @include sidebar-doc;
}
