.tooltip {
  display: block;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  position: absolute;
  visibility: visible;
  z-index: 103;
  &.in {
    opacity: 1;
  }
  &.top {
    padding: 5px 0;
    margin-top: -3px;
    .tooltip-arrow {
      border-top-color: rgba(#000, 0.9);
      border-width: 5px 5px 0;
      margin-left: -5px;
      bottom: 0;
      left: 50%;
    }
  }
  &.right {
    padding: 0 5px;
    margin-left: 3px;
    .tooltip-arrow {
      border-right-color: rgba(#000, 0.9);
      border-width: 5px 5px 5px 0;
      margin-top: -5px;
      top: 50%;
      left: 0;
    }
  }
  &.bottom {
    padding: 5px 0;
    margin-top: 3px;
    .tooltip-arrow {
      border-bottom-color: rgba(#000, 0.9);
      border-width: 0 5px 5px;
      margin-left: -5px;
      top: 0;
      left: 50%;
    }
  }
  &.left {
    padding: 0 5px;
    margin-left: -3px;
    .tooltip-arrow {
      border-left-color: rgba(#000, 0.9);
      border-width: 5px 0 5px 5px;
      margin-top: -5px;
      top: 50%;
      right: 0;
    }
  }
}

.tooltip-inner {
  @include border-radius(4px);
  background: rgba(#000, 0.9);
  color: #fff;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  max-width: 200px;
}

.tooltip-arrow {
  border: solid transparent;
  position: absolute;
  width: 0;
  height: 0;
}
