.tooltip {
  @include radius;
  background: #000;
  color: #fff;
  display: none;
  font-size: 14px;
  line-height: 20px;
  padding: 6px $sp;
  position: absolute;
  left: 50%;
  max-width: 85%;
  width: 100%;
  z-index: 999;
  > .nub {
    display: block;
    left: 5px;
    position: absolute;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: transparent transparent black transparent;
    top: -10px;
  }
  &.tip-top {
    margin: -10px 0 0;
    > .nub {
      border-color: black transparent transparent transparent;
      top: auto;
      bottom: -10px;
    }
  }
  &.tip-left, &.tip-right {
    margin: 10px 0 0;
  }
  &.tip-left > .nub {
    border-color: transparent transparent transparent black;
    right: -10px;
    left: auto;
    top: 50%;
    margin-top: -5px;
  }
  &.tip-right > .nub {
    border-color: transparent black transparent transparent;
    right: auto;
    left: -10px;
    top: 50%;
    margin-top: -5px;
  }
}
