html {
  height: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  @include box-sizing(border-box);
  background: #ced3d8;
  color: $text-color;
  font: $font-size/#{$line-height} $font;
  margin: 0;
  padding: ($nav-height + $sp2) 0 $footer-height;
  position: relative;
  min-width: $min-page-width;
  min-height: 100%;
}

#page {
  @include box-sizing(border-box);
  @include clearfix;
  margin: auto;
  padding: $sp $page-margin;
  max-width: $page-width;
}

.content {
  @include border-radius(7px);
  @include box-shadow(#e3e7e9 0 0 0 1px inset, #f1f4f5 0 0 0 2px inset);
  @include clearfix;
  background: #eaedef;
  padding: $sp2;
}

#context {
  margin: 0 0 $sp3;
}

.input.error {
  color: $red;
  input {
    @include box-shadow($red 0 0 0 1px);
    border-color: $red;
  }
}

.ui-widget-content {
  background: #fff;
}
.ui-autocomplete {
  position: absolute;
}
.ui-menu {
  @include box-shadow(rgba(#000, 0.3) 0 1px 3px);
  top: 10px;
  overflow: hidden;
  max-height: 460px;
}
.ui-menu-item {
  line-height: 16px;
  &:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
  }
  // top nav search autocomplete
  &:last-child a[href] {
    font-weight: bold;
    padding: 13px $sp;
    text-align: center;
  }
  a {
    display: block;
    font-weight: normal;
    padding: 7px $sp;
    // top nav search autocomplete
    &[href] {
      @include box-sizing(border-box);
      padding: 5px $sp 5px 34px;
      position: relative;
      min-width: 600px;
    }
  }
  .title {
    color: $text-color;
    display: block;
    font-size: 14px;
    font-weight: bold;
    &:before {
      @include entypo-icon;
      color: $lightgray;
      font-size: 20px;
      position: absolute;
      left: 7px;
      top: 13px;
      text-align: center;
      width: 20px;
    }
    &:last-child {
      margin: 8px 0;
    }
  }
  .description {
    color: #a2a2a2;
    display: block;
    font-size: 13px;
    overflow-x: hidden;
  }
  em {
    color: $text-color;
    font-weight: bold;
    font-style: normal;
  }
  .ui-state-focus {
    background: #f2f5f7;
  }

  .Accounts:before {
    @extend .entypo-briefcase:before;
  }
  .Projects:before {
    @extend .entypo-folder:before;
  }
  .Documentation:before {
    @extend .entypo-newspaper:before;
  }
}
.ui-helper-hidden-accessible {
  display: none;
}
