* {
  @include box-sizing(border-box);
}

html {
  height: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  background: #ced3d8;
  color: $text-color;
  font: $font-size/#{$line-height} $font;
  margin: 0;
  padding: ($nav-height + $sp2) 0 $footer-height;
  position: relative;
  min-width: $min-page-width;
  min-height: 100%;
}

#page, .content {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: $page-width;
  padding: 0 $page-margin;
}

#page {
  padding: $sp $page-margin;
}

#context {
  margin: 0 0 $sp3;
}

.section + .section {
  margin: $sp2 0 0;
}

// needed for some Bootstrap widgets
.fade {
  @include transition(opacity 0.15s linear);
  opacity: 0;
  &.in {
    opacity: 1;
  }
}
