@font-face {
  font-family: "Entypo";
  src: url("fonts/entypo.eot");
  src: url("fonts/entypo.eot?#iefix") format("embedded-opentype"),
       url("fonts/entypo.woff") format("woff"),
       url("fonts/entypo.ttf") format("truetype"),
       url("fonts/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin entypo-icon {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "Entypo";
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  vertical-align: bottom; // use bottom so negative margin-bottom can be used
}

[class*="icon-"] {
  &:before {
    @include entypo-icon;
  }
  &:not(:empty):before {
    margin-right: 5px;
  }
}

// warning: older mobile browsers need utf-16 e.g. \d83d\dcbc instead of \1f4bc
// but firefox needs utf-32

.icon-plus:before                { content: "\2795"; }
.icon-minus:before               { content: "\2796"; }
.icon-info:before                { content: "\2139"; }
.icon-left-thin:before           { content: "\2190"; }
.icon-up-thin:before             { content: "\2191"; }
.icon-right-thin:before          { content: "\2192"; }
.icon-down-thin:before           { content: "\2193"; }
.icon-level-up:before            { content: "\21b0"; }
.icon-level-down:before          { content: "\21b3"; }
.icon-switch:before              { content: "\21c6"; }
.icon-infinity:before            { content: "\221e"; }
.icon-squared-plus:before        { content: "\229e"; }
.icon-squared-minus:before       { content: "\229f"; }
.icon-home:before                { content: "\2302"; }
.icon-keyboard:before            { content: "\2328"; }
.icon-erase:before               { content: "\232b"; }
.icon-pause:before               { content: "\2016"; }
.icon-ff:before                  { content: "\23e9"; }
.icon-fb:before                  { content: "\23ea"; }
.icon-to-end:before              { content: "\23ed"; }
.icon-to-start:before            { content: "\23ee"; }
.icon-hourglass:before           { content: "\23f3"; }
.icon-stop:before                { content: "\25a0"; }
.icon-triangle-up:before         { content: "\25b4"; }
.icon-play:before                { content: "\25b6"; }
.icon-triangle-right:before      { content: "\25b8"; }
.icon-triangle-down:before       { content: "\25be"; }
.icon-triangle-left:before       { content: "\25c2"; }
.icon-adjust:before              { content: "\25d1"; }
.icon-cloud:before               { content: "\2601"; }
.icon-star:before                { content: "\2605"; }
.icon-star-empty:before          { content: "\2606"; }
.icon-cup:before                 { content: "\2615"; }
.icon-list:before                { content: "\2630"; }
.icon-moon:before                { content: "\263d"; }
.icon-heart-empty:before         { content: "\2661"; }
.icon-heart:before               { content: "\2665"; }
.icon-note:before                { content: "\266a"; }
.icon-beamed-note:before         { content: "\266b"; }
.icon-layout:before              { content: "\268f"; }
.icon-flag:before                { content: "\2691"; }
.icon-tools:before               { content: "\2692"; }
.icon-cog:before                 { content: "\2699"; }
.icon-warning:before             { content: "\26a0"; }
.icon-flash:before               { content: "\26a1"; }
.icon-record:before              { content: "\25cf"; }
.icon-thunder-cloud:before       { content: "\e711"; }
.icon-voicemail:before           { content: "\2707"; }
.icon-airplane:before            { content: "\2708"; }
.icon-mail:before                { content: "\2709"; }
.icon-pencil:before              { content: "\270e"; }
.icon-feather:before             { content: "\2712"; }
.icon-check:before               { content: "\2713"; }
.icon-cross:before               { content: "\274c"; }
.icon-circled-cross:before       { content: "\2716"; }
.icon-squared-cross:before       { content: "\274e"; }
.icon-help:before                { content: "\2753"; }
.icon-quote:before               { content: "\275e"; }
.icon-circled-plus:before        { content: "\2295"; }
.icon-circled-minus:before       { content: "\2296"; }
.icon-right:before               { content: "\27a1"; }
.icon-direction:before           { content: "\27a2"; }
.icon-forward:before             { content: "\27a6"; }
.icon-ccw:before                 { content: "\27f2"; }
.icon-cw:before                  { content: "\27f3"; }
.icon-left:before                { content: "\2b05"; }
.icon-up:before                  { content: "\2b06"; }
.icon-down:before                { content: "\2b07"; }
.icon-add-to-list:before         { content: "\e003"; }
.icon-numbered-list:before       { content: "\e005"; }
.icon-left-bold:before           { content: "\e4ad"; }
.icon-right-bold:before          { content: "\e4ae"; }
.icon-up-bold:before             { content: "\e4af"; }
.icon-down-bold:before           { content: "\e4b0"; }
.icon-add-user:before            { content: "\e700"; }
.icon-circled-help:before        { content: "\e704"; }
.icon-circled-info:before        { content: "\e705"; }
.icon-eye:before                 { content: "\e70a"; }
.icon-tag:before                 { content: "\e70c"; }
.icon-upload-cloud:before        { content: "\e8b3"; }
.icon-reply:before               { content: "\e712"; }
.icon-reply-all:before           { content: "\e713"; }
.icon-code:before                { content: "\e714"; }
.icon-export:before              { content: "\e715"; }
.icon-print:before               { content: "\e716"; }
.icon-retweet:before             { content: "\e717"; }
.icon-comment:before             { content: "\e718"; }
.icon-chat:before                { content: "\e720"; }
.icon-vcard:before               { content: "\e722"; }
.icon-address:before             { content: "\e723"; }
.icon-location:before            { content: "\e724"; }
.icon-map:before                 { content: "\e727"; }
.icon-compass:before             { content: "\e728"; }
.icon-trash:before               { content: "\e729"; }
.icon-doc:before                 { content: "\e730"; }
.icon-text-doc-inverted:before   { content: "\e731"; }
.icon-docs:before                { content: "\e736"; }
.icon-landscape-doc:before       { content: "\e737"; }
.icon-archive:before             { content: "\e800"; }
.icon-rss:before                 { content: "\e73a"; }
.icon-share:before               { content: "\e73c"; }
.icon-cart:before                { content: "\e73d"; }
.icon-shareable:before           { content: "\e73e"; }
.icon-login:before               { content: "\e740"; }
.icon-logout:before              { content: "\e741"; }
.icon-volume:before              { content: "\23f7"; }
.icon-resize-full:before         { content: "\e744"; }
.icon-resize-small:before        { content: "\e746"; }
.icon-popup:before               { content: "\e74c"; }
.icon-publish:before             { content: "\e74d"; }
.icon-browser:before             { content: "\e86d"; }
.icon-arrow-combo:before         { content: "\e74f"; }
.icon-pie-chart:before           { content: "\25f4"; }
.icon-language:before            { content: "\1f394"; }
.icon-air:before                 { content: "\1f4a8"; }
.icon-database:before            { content: "\1f4f8"; }
.icon-drive:before               { content: "\1f4fd"; }
.icon-bucket:before              { content: "\1f4fe"; }
.icon-thermometer:before         { content: "\1f4ff"; }
.icon-circled-down:before        { content: "\e758"; }
.icon-circled-left:before        { content: "\e759"; }
.icon-circled-right:before       { content: "\e75a"; }
.icon-circled-up:before          { content: "\e75b"; }
.icon-chevron-down:before        { content: "\e75c"; }
.icon-chevron-left:before        { content: "\e75d"; }
.icon-chevron-right:before       { content: "\e75e"; }
.icon-chevron-up:before          { content: "\e75f"; }
.icon-chevron-small-down:before  { content: "\e760"; }
.icon-chevron-small-left:before  { content: "\e761"; }
.icon-chevron-small-right:before { content: "\e762"; }
.icon-chevron-small-up:before    { content: "\e763"; }
.icon-chevron-thin-down:before   { content: "\e764"; }
.icon-chevron-thin-left:before   { content: "\e765"; }
.icon-chevron-thin-right:before  { content: "\e766"; }
.icon-chevron-thin-up:before     { content: "\e767"; }
.icon-progress-0:before          { content: "\e768"; }
.icon-progress-1:before          { content: "\e769"; }
.icon-progress-2:before          { content: "\e76a"; }
.icon-progress-3:before          { content: "\e76b"; }
.icon-back-in-time:before        { content: "\e771"; }
.icon-network:before             { content: "\e776"; }
.icon-inbox:before               { content: "\e777"; }
.icon-install:before             { content: "\e778"; }
.icon-lifebuoy:before            { content: "\e788"; }
.icon-mouse:before               { content: "\e789"; }
.icon-dot:before                 { content: "\23f4"; }
.icon-two-dots:before            { content: "\23f5"; }
.icon-three-dots:before          { content: "\23f6"; }
.icon-suitcase:before            { content: "\1f6c6"; }
.icon-flow-cascade:before        { content: "\1f568"; }
.icon-flow-branch:before         { content: "\1f569"; }
.icon-flow-tree:before           { content: "\1f56a"; }
.icon-flow-line:before           { content: "\1f56b"; }
.icon-flow-parallel:before       { content: "\1f56c"; }
.icon-brush:before               { content: "\e79a"; }
.icon-paper-plane:before         { content: "\1f53f"; }
.icon-magnet:before              { content: "\e7a1"; }
.icon-gauge:before               { content: "\1f6c7"; }
.icon-traffic-cone:before        { content: "\1f6c8"; }
.icon-picture:before             { content: "\1f304"; }
.icon-globe:before               { content: "\1f30e"; }
.icon-leaf:before                { content: "\1f342"; }
.icon-graduation-cap:before      { content: "\1f393"; }
.icon-mic:before                 { content: "\1f3a4"; }
.icon-palette:before             { content: "\1f3a8"; }
.icon-ticket:before              { content: "\1f3ab"; }
.icon-video:before               { content: "\1f3ac"; }
.icon-hair-cross:before          { content: "\1f3af"; }
.icon-music:before               { content: "\1f3b5"; }
.icon-trophy:before              { content: "\1f3c6"; }
.icon-thumbs-up:before           { content: "\1f44d"; }
.icon-thumbs-down:before         { content: "\1f44e"; }
.icon-bag:before                 { content: "\1f45c"; }
.icon-user:before                { content: "\1f464"; }
.icon-users:before               { content: "\1f465"; }
.icon-light-bulb:before          { content: "\1f4a1"; }
.icon-new:before                 { content: "\1f4a5"; }
.icon-water:before               { content: "\1f4a6"; }
.icon-droplet:before             { content: "\1f4a7"; }
.icon-credit-card:before         { content: "\1f4b3"; }
.icon-monitor:before             { content: "\1f4bb"; }
.icon-briefcase:before           { content: "\1f4bc"; }
.icon-save:before                { content: "\1f4be"; }
.icon-cd:before                  { content: "\1f4bf"; }
.icon-folder:before              { content: "\1f4c1"; }
.icon-text-doc:before            { content: "\1f4c4"; }
.icon-calendar:before            { content: "\1f4c5"; }
.icon-line-graph:before          { content: "\1f4c8"; }
.icon-bar-graph:before           { content: "\1f4ca"; }
.icon-clipboard:before           { content: "\1f4cb"; }
.icon-attach:before              { content: "\1f4ce"; }
.icon-bookmarks:before           { content: "\1f4d1"; }
.icon-book:before                { content: "\1f4d5"; }
.icon-open-book:before           { content: "\1f4d6"; }
.icon-phone:before               { content: "\1f4de"; }
.icon-megaphone:before           { content: "\1f4e3"; }
.icon-upload:before              { content: "\1f4e4"; }
.icon-download:before            { content: "\1f4e5"; }
.icon-box:before                 { content: "\1f4e6"; }
.icon-newspaper:before           { content: "\1f4f0"; }
.icon-mobile:before              { content: "\1f4f1"; }
.icon-signal:before              { content: "\1f4f6"; }
.icon-camera:before              { content: "\1f4f7"; }
.icon-shuffle:before             { content: "\1f500"; }
.icon-loop:before                { content: "\1f501"; }
.icon-cycle:before               { content: "\1f504"; }
.icon-light-down:before          { content: "\1f505"; }
.icon-light-up:before            { content: "\1f506"; }
.icon-mute:before                { content: "\1f507"; }
.icon-sound:before               { content: "\1f50a"; }
.icon-battery:before             { content: "\1f50b"; }
.icon-search:before              { content: "\1f50d"; }
.icon-key:before                 { content: "\1f511"; }
.icon-lock:before                { content: "\1f512"; }
.icon-lock-open:before           { content: "\1f513"; }
.icon-bell:before                { content: "\1f514"; }
.icon-bookmark:before            { content: "\1f516"; }
.icon-link:before                { content: "\1f517"; }
.icon-back:before                { content: "\1f519"; }
.icon-flashlight:before          { content: "\1f526"; }
.icon-area-graph:before          { content: "\1f53e"; }
.icon-clock:before               { content: "\1f554"; }
.icon-rocket:before              { content: "\1f680"; }
.icon-block:before               { content: "\1f6ab"; }
