@font-face {
  font-family: "Entypo";
  src: url("fonts/entypo.eot");
  src: url("fonts/entypo.eot?#iefix") format("embedded-opentype"),
       url("fonts/entypo.woff") format("woff"),
       url("fonts/entypo.ttf") format("truetype"),
       url("fonts/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin entypo-icon {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "Entypo";
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  vertical-align: bottom; // use bottom so negative margin-bottom can be used
}

[class*="entypo-"] {
  &:before {
    @include entypo-icon;
  }
  &:not(:empty):before {
    margin-right: 5px;
  }
}

// warning: older mobile browsers need utf-16 e.g. \d83d\dcbc instead of \1f4bc
// but firefox needs utf-32

.entypo-plus:before                { content: "\2795"; }
.entypo-minus:before               { content: "\2796"; }
.entypo-info:before                { content: "\2139"; }
.entypo-left-thin:before           { content: "\2190"; }
.entypo-up-thin:before             { content: "\2191"; }
.entypo-right-thin:before          { content: "\2192"; }
.entypo-down-thin:before           { content: "\2193"; }
.entypo-level-up:before            { content: "\21b0"; }
.entypo-level-down:before          { content: "\21b3"; }
.entypo-switch:before              { content: "\21c6"; }
.entypo-infinity:before            { content: "\221e"; }
.entypo-squared-plus:before        { content: "\229e"; }
.entypo-squared-minus:before       { content: "\229f"; }
.entypo-home:before                { content: "\2302"; }
.entypo-keyboard:before            { content: "\2328"; }
.entypo-erase:before               { content: "\232b"; }
.entypo-pause:before               { content: "\2016"; }
.entypo-ff:before                  { content: "\23e9"; }
.entypo-fb:before                  { content: "\23ea"; }
.entypo-to-end:before              { content: "\23ed"; }
.entypo-to-start:before            { content: "\23ee"; }
.entypo-hourglass:before           { content: "\23f3"; }
.entypo-stop:before                { content: "\25a0"; }
.entypo-triangle-up:before         { content: "\25b4"; }
.entypo-play:before                { content: "\25b6"; }
.entypo-triangle-right:before      { content: "\25b8"; }
.entypo-triangle-down:before       { content: "\25be"; }
.entypo-triangle-left:before       { content: "\25c2"; }
.entypo-adjust:before              { content: "\25d1"; }
.entypo-cloud:before               { content: "\2601"; }
.entypo-star:before                { content: "\2605"; }
.entypo-star-empty:before          { content: "\2606"; }
.entypo-cup:before                 { content: "\2615"; }
.entypo-list:before                { content: "\2630"; }
.entypo-moon:before                { content: "\263d"; }
.entypo-heart-empty:before         { content: "\2661"; }
.entypo-heart:before               { content: "\2665"; }
.entypo-note:before                { content: "\266a"; }
.entypo-beamed-note:before         { content: "\266b"; }
.entypo-layout:before              { content: "\268f"; }
.entypo-flag:before                { content: "\2691"; }
.entypo-tools:before               { content: "\2692"; }
.entypo-cog:before                 { content: "\2699"; }
.entypo-warning:before             { content: "\26a0"; }
.entypo-flash:before               { content: "\26a1"; }
.entypo-record:before              { content: "\25cf"; }
.entypo-thunder-cloud:before       { content: "\e711"; }
.entypo-voicemail:before           { content: "\2707"; }
.entypo-airplane:before            { content: "\2708"; }
.entypo-mail:before                { content: "\2709"; }
.entypo-pencil:before              { content: "\270e"; }
.entypo-feather:before             { content: "\2712"; }
.entypo-check:before               { content: "\2713"; }
.entypo-cross:before               { content: "\274c"; }
.entypo-circled-cross:before       { content: "\2716"; }
.entypo-squared-cross:before       { content: "\274e"; }
.entypo-help:before                { content: "\2753"; }
.entypo-quote:before               { content: "\275e"; }
.entypo-circled-plus:before        { content: "\2295"; }
.entypo-circled-minus:before       { content: "\2296"; }
.entypo-right:before               { content: "\27a1"; }
.entypo-direction:before           { content: "\27a2"; }
.entypo-forward:before             { content: "\27a6"; }
.entypo-ccw:before                 { content: "\27f2"; }
.entypo-cw:before                  { content: "\27f3"; }
.entypo-left:before                { content: "\2b05"; }
.entypo-up:before                  { content: "\2b06"; }
.entypo-down:before                { content: "\2b07"; }
.entypo-add-to-list:before         { content: "\e003"; }
.entypo-numbered-list:before       { content: "\e005"; }
.entypo-left-bold:before           { content: "\e4ad"; }
.entypo-right-bold:before          { content: "\e4ae"; }
.entypo-up-bold:before             { content: "\e4af"; }
.entypo-down-bold:before           { content: "\e4b0"; }
.entypo-add-user:before            { content: "\e700"; }
.entypo-circled-help:before        { content: "\e704"; }
.entypo-circled-info:before        { content: "\e705"; }
.entypo-eye:before                 { content: "\e70a"; }
.entypo-tag:before                 { content: "\e70c"; }
.entypo-upload-cloud:before        { content: "\e8b3"; }
.entypo-reply:before               { content: "\e712"; }
.entypo-reply-all:before           { content: "\e713"; }
.entypo-code:before                { content: "\e714"; }
.entypo-export:before              { content: "\e715"; }
.entypo-print:before               { content: "\e716"; }
.entypo-retweet:before             { content: "\e717"; }
.entypo-comment:before             { content: "\e718"; }
.entypo-chat:before                { content: "\e720"; }
.entypo-vcard:before               { content: "\e722"; }
.entypo-address:before             { content: "\e723"; }
.entypo-location:before            { content: "\e724"; }
.entypo-map:before                 { content: "\e727"; }
.entypo-compass:before             { content: "\e728"; }
.entypo-trash:before               { content: "\e729"; }
.entypo-doc:before                 { content: "\e730"; }
.entypo-text-doc-inverted:before   { content: "\e731"; }
.entypo-docs:before                { content: "\e736"; }
.entypo-landscape-doc:before       { content: "\e737"; }
.entypo-archive:before             { content: "\e800"; }
.entypo-rss:before                 { content: "\e73a"; }
.entypo-share:before               { content: "\e73c"; }
.entypo-cart:before                { content: "\e73d"; }
.entypo-shareable:before           { content: "\e73e"; }
.entypo-login:before               { content: "\e740"; }
.entypo-logout:before              { content: "\e741"; }
.entypo-volume:before              { content: "\23f7"; }
.entypo-resize-full:before         { content: "\e744"; }
.entypo-resize-small:before        { content: "\e746"; }
.entypo-popup:before               { content: "\e74c"; }
.entypo-publish:before             { content: "\e74d"; }
.entypo-browser:before             { content: "\e86d"; }
.entypo-arrow-combo:before         { content: "\e74f"; }
.entypo-pie-chart:before           { content: "\25f4"; }
.entypo-language:before            { content: "\1f394"; }
.entypo-air:before                 { content: "\1f4a8"; }
.entypo-database:before            { content: "\1f4f8"; }
.entypo-drive:before               { content: "\1f4fd"; }
.entypo-bucket:before              { content: "\1f4fe"; }
.entypo-thermometer:before         { content: "\1f4ff"; }
.entypo-circled-down:before        { content: "\e758"; }
.entypo-circled-left:before        { content: "\e759"; }
.entypo-circled-right:before       { content: "\e75a"; }
.entypo-circled-up:before          { content: "\e75b"; }
.entypo-chevron-down:before        { content: "\e75c"; }
.entypo-chevron-left:before        { content: "\e75d"; }
.entypo-chevron-right:before       { content: "\e75e"; }
.entypo-chevron-up:before          { content: "\e75f"; }
.entypo-chevron-small-down:before  { content: "\e760"; }
.entypo-chevron-small-left:before  { content: "\e761"; }
.entypo-chevron-small-right:before { content: "\e762"; }
.entypo-chevron-small-up:before    { content: "\e763"; }
.entypo-chevron-thin-down:before   { content: "\e764"; }
.entypo-chevron-thin-left:before   { content: "\e765"; }
.entypo-chevron-thin-right:before  { content: "\e766"; }
.entypo-chevron-thin-up:before     { content: "\e767"; }
.entypo-progress-0:before          { content: "\e768"; }
.entypo-progress-1:before          { content: "\e769"; }
.entypo-progress-2:before          { content: "\e76a"; }
.entypo-progress-3:before          { content: "\e76b"; }
.entypo-back-in-time:before        { content: "\e771"; }
.entypo-network:before             { content: "\e776"; }
.entypo-inbox:before               { content: "\e777"; }
.entypo-install:before             { content: "\e778"; }
.entypo-lifebuoy:before            { content: "\e788"; }
.entypo-mouse:before               { content: "\e789"; }
.entypo-dot:before                 { content: "\23f4"; }
.entypo-two-dots:before            { content: "\23f5"; }
.entypo-three-dots:before          { content: "\23f6"; }
.entypo-suitcase:before            { content: "\1f6c6"; }
.entypo-flow-cascade:before        { content: "\1f568"; }
.entypo-flow-branch:before         { content: "\1f569"; }
.entypo-flow-tree:before           { content: "\1f56a"; }
.entypo-flow-line:before           { content: "\1f56b"; }
.entypo-flow-parallel:before       { content: "\1f56c"; }
.entypo-brush:before               { content: "\e79a"; }
.entypo-paper-plane:before         { content: "\1f53f"; }
.entypo-magnet:before              { content: "\e7a1"; }
.entypo-gauge:before               { content: "\1f6c7"; }
.entypo-traffic-cone:before        { content: "\1f6c8"; }
.entypo-picture:before             { content: "\1f304"; }
.entypo-globe:before               { content: "\1f30e"; }
.entypo-leaf:before                { content: "\1f342"; }
.entypo-graduation-cap:before      { content: "\1f393"; }
.entypo-mic:before                 { content: "\1f3a4"; }
.entypo-palette:before             { content: "\1f3a8"; }
.entypo-ticket:before              { content: "\1f3ab"; }
.entypo-video:before               { content: "\1f3ac"; }
.entypo-hair-cross:before          { content: "\1f3af"; }
.entypo-music:before               { content: "\1f3b5"; }
.entypo-trophy:before              { content: "\1f3c6"; }
.entypo-thumbs-up:before           { content: "\1f44d"; }
.entypo-thumbs-down:before         { content: "\1f44e"; }
.entypo-bag:before                 { content: "\1f45c"; }
.entypo-user:before                { content: "\1f464"; }
.entypo-users:before               { content: "\1f465"; }
.entypo-light-bulb:before          { content: "\1f4a1"; }
.entypo-new:before                 { content: "\1f4a5"; }
.entypo-water:before               { content: "\1f4a6"; }
.entypo-droplet:before             { content: "\1f4a7"; }
.entypo-credit-card:before         { content: "\1f4b3"; }
.entypo-monitor:before             { content: "\1f4bb"; }
.entypo-briefcase:before           { content: "\1f4bc"; }
.entypo-save:before                { content: "\1f4be"; }
.entypo-cd:before                  { content: "\1f4bf"; }
.entypo-folder:before              { content: "\1f4c1"; }
.entypo-text-doc:before            { content: "\1f4c4"; }
.entypo-calendar:before            { content: "\1f4c5"; }
.entypo-line-graph:before          { content: "\1f4c8"; }
.entypo-bar-graph:before           { content: "\1f4ca"; }
.entypo-clipboard:before           { content: "\1f4cb"; }
.entypo-attach:before              { content: "\1f4ce"; }
.entypo-bookmarks:before           { content: "\1f4d1"; }
.entypo-book:before                { content: "\1f4d5"; }
.entypo-open-book:before           { content: "\1f4d6"; }
.entypo-phone:before               { content: "\1f4de"; }
.entypo-megaphone:before           { content: "\1f4e3"; }
.entypo-upload:before              { content: "\1f4e4"; }
.entypo-download:before            { content: "\1f4e5"; }
.entypo-box:before                 { content: "\1f4e6"; }
.entypo-newspaper:before           { content: "\1f4f0"; }
.entypo-mobile:before              { content: "\1f4f1"; }
.entypo-signal:before              { content: "\1f4f6"; }
.entypo-camera:before              { content: "\1f4f7"; }
.entypo-shuffle:before             { content: "\1f500"; }
.entypo-loop:before                { content: "\1f501"; }
.entypo-cycle:before               { content: "\1f504"; }
.entypo-light-down:before          { content: "\1f505"; }
.entypo-light-up:before            { content: "\1f506"; }
.entypo-mute:before                { content: "\1f507"; }
.entypo-sound:before               { content: "\1f50a"; }
.entypo-battery:before             { content: "\1f50b"; }
.entypo-search:before              { content: "\1f50d"; }
.entypo-key:before                 { content: "\1f511"; }
.entypo-lock:before                { content: "\1f512"; }
.entypo-lock-open:before           { content: "\1f513"; }
.entypo-bell:before                { content: "\1f514"; }
.entypo-bookmark:before            { content: "\1f516"; }
.entypo-link:before                { content: "\1f517"; }
.entypo-back:before                { content: "\1f519"; }
.entypo-flashlight:before          { content: "\1f526"; }
.entypo-area-graph:before          { content: "\1f53e"; }
.entypo-clock:before               { content: "\1f554"; }
.entypo-rocket:before              { content: "\1f680"; }
.entypo-block:before               { content: "\1f6ab"; }
