@font-face {
    font-family: T-Star;
    src: image-url('fonts/t-star_pro_web/TSTARPRO-RegularWeb.eot') format('eot');
    src: image-url('fonts/t-star_pro_web/TSTARPRO-RegularWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: T-Star;
    src: image-url('fonts/t-star_pro_web/TSTARPRO-MediumWeb.eot') format('eot');
    src: image-url('fonts/t-star_pro_web/TSTARPRO-MediumWeb.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: T-Star;
    src: image-url('fonts/t-star_pro_web/TSTARPRO-BoldItalicWeb.eot') format('eot');
    src: image-url('fonts/t-star_pro_web/TSTARPRO-BoldItalicWeb.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: T-Star;
    src: image-url('fonts/t-star_pro_web/TSTARPRO-BoldWeb.eot') format('eot');
    src: image-url('fonts/t-star_pro_web/TSTARPRO-BoldWeb.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: T-StarBold;
    src: image-url('fonts/t-star_pro_web/TSTARPRO-BoldWeb.eot') format('eot');
    src: image-url('fonts/t-star_pro_web/TSTARPRO-BoldWeb.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: T-Star;
    src: image-url('fonts/t-star_pro_web/TSTARPRO-ItalicWeb.eot') format('eot');
    src: image-url('fonts/t-star_pro_web/TSTARPRO-ItalicWeb.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}