#footer {
  background: #333;
  color: #767579;
  font-size: 13px;
  padding: $sp5 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  h2 {
    color: #eee;
  }
  
  a {
    color: inherit;
    font: inherit;
    &:hover {
      opacity: 0.85;
    }
  }
  
  ul a {
    color: #aaa;
    font-size: 15px;
  }
}
