$font: Lato, Helvetica, Arial, sans-serif;
$code-font: Consolas, Monaco, Courier, monospace;

$text-color: #444;

// colors for new branding
$orange: #f36721;
$blue:   #3ca3e0;
$green:  #78c158;
$yellow: #fff200;
$red:    #d43631;

// colors for redesign
$navyblue: #0071bc;
$darkblue: #536278;

$palegreen: #e7f4df;
$lightgreen: #b1d7a3;

$slategray: tint($darkblue, 22.5%); // #798596
$gray: tint($slategray, 28%); // #9ea7b3
$darkgray: tint($slategray, 15%); // #8d97a5
$palegray: #f5f7f8;
$lightgray: #d0d2d3;

$link-color: $navyblue;
$label-color: $darkblue;

$line-height: 24px;
$sp: 10px;
$sp2: 2 * $sp;
$sp3: 3 * $sp;
$sp4: 4 * $sp;
$sp5: 5 * $sp;

$radius: 4px;

$font-size: 15px;
$h1-size: 24px;
$h2-size: 18px;
$h3-size: 16px;
$h4-size: 15px;
$h5-size: 11px;

$h1-copy-size: 35px;
$h2-copy-size: 25px;
$h3-copy-size: 21px;
$h4-copy-size: 15px;
$h5-copy-size: 15px;


$page-margin: 10px; // shown when window is at $page-width
$page-width: 960px;
$min-page-width: 768px;

$nav-height: 48px;
$footer-height: 298px;
